.smaller{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
  }

.containerCenter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  }